*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    background: #F2F0EF;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

nav {
    font-size: 1.6rem;
    padding: 2em;
}

a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

li {
    list-style-type: none;
    margin-left: 2rem;
}

ul {
    display: flex;
    padding-inline-start: 0;
    margin: 0;
}

.link {
    display: inline-block;
    transition: 0.2s;
}

.link:hover,
.link:focus {
    transform: scale(1.2);
}

#about:hover,
#about:focus {
    color: #b502f4;
}

#projects:hover,
#projects:focus {
    color: red;
}

#navbar {
    display: flex;
    justify-content: space-between;
}

/* Dark Mode Settings */

@media (prefers-color-scheme: dark) {
    html {
        background: #0e1111;
    }

    header a,
    h1,
    footer a,
    main a{
        color: #F2F0EF;
    }
}

/* Display Settings */

@media screen and (max-width: 1000px) {
    main h1 {
        padding-left: 18px;
        font-size: 5rem;
    }
}

@media screen and (max-width: 670px) {
    #top-right {
        flex-direction: column;
        margin-block-end: 0;
    }

    #top-right li {
        margin-bottom: 1rem;
    }

    main h1 {
        font-size: 3rem;
    }
}