:root {
    --primary: #ff007f;
    --secondary: #ffff00;
    --accent: #ffa500;
    --warn: #bf40bf;
    --danger: #aaff00;
}

html, body {
    height: 100%;
}

main {
    display: inherit;
    padding: 2em;

    justify-content: center;
    align-items: center;
    flex: 1;
}

h1 {
    font-size: 7rem;
}

.blur {
    backdrop-filter: blur(150px);

    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.rectangles {
    display: flex;
    width: 100dvw;
    height: 100%;

    position: absolute;
    z-index: -1;
}

.rectangle {
    align-self: flex-end;
    width: 100%;
}

.rectangle1 {
    height: 25%;
    background-color: var(--primary);
    animation: dillydally1 4s ease-in-out infinite alternate;
}

.rectangle2 {
    height: 45%;
    background-color: var(--secondary);
    animation: dillydally2 6s ease-in-out infinite alternate;
}

.rectangle3 {
    height: 50%;
    background-color: var(--accent);
    animation: dillydally3 2s ease-in-out infinite alternate;
}

.rectangle4 {
    height: 55%;
    background-color: var(--warn);
    animation: dillydally4 10s ease-in-out infinite alternate;
}

.rectangle5 {
    height: 35%;
    background-color: var(--danger);
    animation: dillydally5 8s ease-in-out infinite alternate;
}

@keyframes dillydally1 {
    100% {
        transform: translateX(80dvw);
    }
}

@keyframes dillydally2 {
    50% {
        transform: translateX(60dvw);
    }
    100% {
        transform: translateX(-20dvw);
    }
}

@keyframes dillydally3 {
    50 % {
        transform: translateX(100dvw);
    }
    100% {
        transform: translateX(-40dvw);
    }
}

@keyframes dillydally4 {
    50% {
        transform: translateX(20dvw);
    }
    100% {
        transform: translateX(-60dvw);
    }
}

@keyframes dillydally5 {
    100% {
        transform: translateX(-80dvw);
    }
}

@media screen and (max-width: 670px) {
    .blur {
        backdrop-filter: blur(75px);
    }
}

#social-links {
    justify-content: center;
}

#codeDayImage {
    height: 0.75em;
}

#linkedinlist {
    margin-left: 0;
}

#linkedin:hover,
#linkedin:focus {
    color: #0a66c2;
}

#github:hover,
#github:focus {
    color: #f14e32;
}

#email:hover,
#email:focus {
    color: #004f9f;
}

#instagram:hover,
#instagram:focus {
    color: #E1306C;
}