/* this style sheet has been written with a mobile-first approach*/

:root {
    --primary: #ff007f;
    --secondary: #ffff00;
    --accent: #ffa500;
    --warn: #bf40bf;
    --danger: #aaff00;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    overflow-x: hidden;
    max-width: 100%;
}

html, body {
    height: 100%;
}

nav {
    font-size: 1.6rem;
    padding: 2em;
}

main {
    display: inherit;
    padding: 2em;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    flex-grow: 1;
}

/* general styles */

h1 {
    font-size: 2.986rem;
}

h2 {
    font-size: 2.488rem;
}

h3 {
    font-size: 2.074rem;
}

h4 {
    font-size: 1.728rem;
}

h5 {
    font-size: 1.44rem;
}

p {
    font-size: 1.2rem;
}

#blur {
    backdrop-filter: blur(15rem);
    -webkit-backdrop-filter: blur(15rem);
}

#main-structure {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
}

a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

li {
    list-style-type: none;
    margin-left: 2rem;
}

ul {
    display: flex;
    padding-inline-start: 0;
    margin: 0;
}

.link {
    display: inline-block;
    transition: 0.2s;

    cursor: pointer;
}

.link:hover,
.link:focus {
    transform: scale(1.2);
}

#about:hover,
#about:focus {
    color: #b502f4;
}

#projects:hover,
#projects:focus {
    color: red;
}

#navbar {
    display: flex;
    justify-content: space-between;
}

/* Dark Mode Settings */

@media (prefers-color-scheme: dark) {
    html {
        background: #0e1111;
    }

    header a,
    h1,
    footer a,
    main a{
        color: #F2F0EF;
    }
}

/* Display Settings */

@media screen and (min-width: 1000px) {
    h1 {
        font-size: 5.61rem;
    }

    h2 {
        font-size: 4.209rem;
    }

    h3 {
        font-size: 3.157rem;
    }

    h4 {
        font-size: 2.369rem;
    }

    h5 {
        font-size: 1.777rem;
    }

    p {
        font-size: 1.333rem;
    }
}

@media screen and (min-width: 670px) and (max-width: 999px) {
    #top-right {
        flex-direction: column;
        margin-block-end: 0;
    }

    #top-right li {
        margin-bottom: 1rem;
    }

    h1 {
        font-size: 3.815rem;
    }

    h2 {
        font-size: 3.052rem;
    }

    h3 {
        font-size: 2.441rem;
    }

    h4 {
        font-size: 1.953rem;
    }

    h5 {
        font-size: 1.563rem;
    }

    p {
        font-size: 1.25rem;
    }
}

/*The rectangles can be engineered muccchhhh better, implementation is currently dog shit, but it works!*/

.rectangles {
    display: flex;
    width: 100%;
    height: 100%;

    position: absolute;
    z-index: -1;
}

.rectangle {
    align-self: flex-end;
    width: 100%;
}

.rectangle1 {
    height: 25%;
    background-color: var(--primary);
    animation: dillydally1 4s ease-in-out infinite alternate;
}

.rectangle2 {
    height: 45%;
    background-color: var(--secondary);
    animation: dillydally2 6s ease-in-out infinite alternate;
}

.rectangle3 {
    height: 50%;
    background-color: var(--accent);
    animation: dillydally3 2s ease-in-out infinite alternate;
}

.rectangle4 {
    height: 55%;
    background-color: var(--warn);
    animation: dillydally4 10s ease-in-out infinite alternate;
}

.rectangle5 {
    height: 35%;
    background-color: var(--danger);
    animation: dillydally5 8s ease-in-out infinite alternate;
}

@keyframes dillydally1 {
    100% {
        transform: translateX(75dvw);
    }
}

@keyframes dillydally2 {
    50% {
        transform: translateX(55dvw);
    }
    100% {
        transform: translateX(-20dvw);
    }
}

@keyframes dillydally3 {
    50 % {
        transform: translateX(100dvw);
    }
    100% {
        transform: translateX(-40dvw);
    }
}

@keyframes dillydally4 {
    50% {
        transform: translateX(15dvw);
    }
    100% {
        transform: translateX(-60dvw);
    }
}

@keyframes dillydally5 {
    100% {
        transform: translateX(-80dvw);
    }
}

@media screen and (max-width: 670px) {
    .blur {
        backdrop-filter: blur(75px);
    }
}

#social-links {
    justify-content: center;
}

#companyImage {
    height: 0.75em;
}

#linkedinlist {
    margin-left: 0;
}

#linkedin:hover,
#linkedin:focus {
    color: #0a66c2;
}

#github:hover,
#github:focus {
    color: #f14e32;
}

#email:hover,
#email:focus {
    color: #004f9f;
}

#instagram:hover,
#instagram:focus {
    color: #E1306C;
}

main .link:hover,
main .link:focus {
    transform: scale(1.05);
    color: var(--primary);
}

#nerdFace {
    height: inherit;
    width: 1.2em;
    padding-left: 1rem;
}

/* experience styles */

.experience {
    display: flex;
    flex-direction: column;
    max-width: 80vw;

    justify-self: center;

    color: white;
}

.experience-header {
    text-align: center;
}

.grid {
    display: grid;
}

.timeline-grid {
    grid-template-areas:
            'experience-one experience-separator .'
            '. experience-separator experience-two'
            'experience-three experience-separator .';
}

#experience-one {
    grid-area: experience-one;
}

#experience-two {
    grid-area: experience-two;
}

#experience-three {
    grid-area: experience-three;
}

#experience-separator {
    grid-area: experience-separator;

    border-left: 2px solid white;
    height: 100%;
    margin: 0 auto;
}

.left-side-grid {
    margin-right: 2rem;
}

.right-side-grid {
    margin-left: 2rem;
}

.experience-section-header {
    margin-bottom: 0;
}

.experience-company {
    margin-top: 0;
    margin-bottom: 2rem;

    color: var(--warn);
}

.experience-duration {
    margin-top: 0;
}