body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    position: relative;
}

main {
    display: inherit;
    position: inherit;

    justify-content: center;
    align-items: center;
    flex: 1;
}

h1 {
    font-size: 7rem;
}

.blur {
    backdrop-filter: blur(150px);
    display: flex;
    flex-direction: column;
    height: 100dvh;
    width: 100dvw;
}

.rectangles {
    display: flex;
    flex-direction: row;

    width: 100dvw;
    position: absolute;
    bottom: 0;
}

.rectangle {
    bottom: 0;
    width: 100%;
}

.rectangle1 {
    height: 5dvh;
    background-color: #fb1c89;
    animation: dillydally1 4s ease-in-out infinite alternate;
}

.rectangle2 {
    left: 20%;
    height: 20dvh;
    background-color: #ded461;
    animation: dillydally2 6s ease-in-out infinite alternate;
}

.rectangle3 {
    left: 40%;
    height: 40dvh;
    background-color: #fc7734;
    animation: dillydally3 2s ease-in-out infinite alternate;
}

.rectangle4 {
    left: 60%;
    height: 50dvh;
    background-color: #8022ae;
    animation: dillydally4 10s ease-in-out infinite alternate;
}

.rectangle5 {
    left: 80%;
    height: 10dvh;
    background-color: #71e372;
    animation: dillydally5 8s ease-in-out infinite alternate;
}

#social-links {
    justify-content: center;
}

#company {
    background: #833AB4;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* Optional for Firefox */
    background-clip: text;
    color: transparent;
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

#codeDayImage {
    height: 0.75em;
}

#linkedin:hover,
#linkedin:focus {
    color: #0a66c2;
}

#github:hover,
#github:focus {
    color: #f14e32;
}

#email:hover,
#email:focus {
    color: #004f9f;
}


#instagram:hover,
#instagram:focus {
    color: #E1306C;
}


@keyframes dillydally1 {
    100% {
        transform: translateX(80dvw);
    }
}

@keyframes dillydally2 {
    50% {
        transform: translateX(60dvw);
    }
    100% {
        transform: translateX(-20dvw);
    }
}

@keyframes dillydally3 {
    50 % {
        transform: translateX(100dvw);
    }
    100% {
        transform: translateX(-40dvw);
    }
}

@keyframes dillydally4 {
    50% {
        transform: translateX(20dvw);
    }
    100% {
        transform: translateX(-60dvw);
    }
}

@keyframes dillydally5 {
    100% {
        transform: translateX(-80dvw);
    }
}