.firstName {
    background: linear-gradient(to bottom right, purple, black);
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

body {
    font-family: 'NeueRegular', sans-serif;
    background: white;
}