*, *::before, *::after { box-sizing: inherit;}

html {
    box-sizing: border-box;
}

.title {
    background: linear-gradient(to bottom right, #b502f4, black);
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

body {
    grid-template-rows: 15% 70% 15%;
    padding: 1em;
    /*border: 3px solid black; !* remove after *!*/
    font-family: 'NeueRegular', sans-serif;
}

/* header content */
header {
    padding: 1em;
    font-size: 20px;
    /*border: 3px solid black; !* remove after *!*/
}

header h2 {
    font-size: 22px;
    display: inline-block;
    /*border: 3px solid black; !* remove after *!*/
}

header a {
    color: black;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    /*border: 3px solid black; !* remove after *!*/
}

#about:hover {
    color: #b502f4;
}

#projects:hover {
    color: red;
}
/* end of header content*/

/* main content */
main {
}
main h1 {
    width: 50%;
    margin: auto;
    padding: 10px;
    font-size: 70px;
    /*border: 3px solid black; !* remove after *!*/
}
/* end of main content */

/* footer content */
footer {
    gap: 1em;
    padding: 1em;
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    /*border: 3px solid black; !* remove after *!*/
}

footer a {
    display: inline-block;
    color: black;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    /*border: 3px solid black; !* remove after *!*/
}

#linkedin:hover {
    color: #0a66c2;
}

#github:hover {
    color: #f14e32;
}

#email:hover {
    color: #004f9f;
}
/* end of footer content */

/* mobile device development*/
@media (max-width: 600px) {
    main h1 {
        width: 80%;
        margin: auto;
        padding: 10px;
        font-size: 35px;
        /*border: 3px solid black; !* remove after *!*/
    }
}

@media (min-width: 601px) {
    main h1 {
        width: 80%;
        margin: auto;
        padding: 10px;
        font-size: 40px;
        /*border: 3px solid black; !* remove after *!*/
    }
}

@media (min-width: 768px) {
    main h1 {
        width: 75%;
        margin: auto;
        padding: 10px;
        font-size: 45px;
        /*border: 3px solid black; !* remove after *!*/
    }
}

@media (min-width: 992px) {
    main h1 {
        width: 70%;
        margin: auto;
        padding: 10px;
        font-size: 55px;
        /*border: 3px solid black; !* remove after *!*/
    }
}

@media (min-width: 1200px) {
    main h1 {
        width: 50%;
        margin: auto;
        padding: 10px;
        font-size: 60px;
        /*border: 3px solid black; !* remove after *!*/
    }
}
/* end of mobile device development*/