*, *::before, *::after { box-sizing: inherit; border: inherit;}

html, body {
    margin: 0;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    /*border: 3px solid black;*/
    font-family: 'NeueRegular', sans-serif;
}

#title {
    color: transparent;
    background: linear-gradient(to bottom right, #b502f4, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body {
    margin: 0;
    height: 100%;
}

/* header content */
header {
    display: flex;
    padding: 2em;
}


#nav {
    gap: 2em;
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: center;
}

header a {
    color: black;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}

#about:hover {
    color: #b502f4;
}

#projects:hover {
    color: red;
}
/* end of header content*/

/* main content */
main {
    display: flex;
    justify-content: center;
}
/* end of main content */

/* footer content */
footer {
    gap: 2em;
    padding: 1em;
    display: flex;
    justify-content: center;
}

footer a {
    color: black;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}

#linkedin:hover {
    color: #0a66c2;
}

#github:hover {
    color: #f14e32;
}

#email:hover {
    color: #004f9f;
}
/* end of footer content */

/* mobile device support*/
@media only screen and (max-width: 600px) {
    header {
        font-size: 15px;
    }

    main h1 {
        width: 80%;
        padding: 10px;
        font-size: 35px;
    }
}

@media only screen and(min-width: 601px) {
    main h1 {
        width: 80%;
        padding: 10px;
        font-size: 40px;
    }
}

@media only screen and (min-width: 768px) {
    main h1 {
        width: 75%;
        padding: 10px;
        font-size: 45px;
    }
}

@media only screen and (min-width: 992px) {
    main h1 {
        width: 70%;
        padding: 10px;
        font-size: 55px;
    }
}

@media (min-width: 1200px) {
    main h1 {
        width: 50%;
        font-size: 65px;
    }
}
/* end of mobile device support*/